<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>Neumorphism UI -About us</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Neumorphism UI -About us">
<meta name="author" content="_____ team">

<!-- Fontawesome -->
<!-- <script src="https://kit.fontawesome.com/b9fce72c7a.js" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<!-- Pixel CSS -->
<link type="text/css" href="../static/css/neumorphism.css" rel="stylesheet">
</head>
<body>
    <!-- ///////////////////////////////////////////////// NAVBAR START ///////////////////////////////////////////////////////////////-->
<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
        <div class="container position-relative">
            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="index.html">
                Our Company
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="index.html" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                Our Company
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Musicians</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Jobs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" >
                            <span class="nav-link-inner-text">username</span>
                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>

<!-- ////////////////////////////////////////////////// NAVBAR END  ///////////////////////////////////////////////////////////////-->
    <div class="section section-lg">
        <div class="container">
            <div class="row">
            <div class="col col-12">
                <div class="nav-wrapper position-relative mb-4">
                <ul
                    class="nav nav-pills nav-fill flex-column flex-sm-row"
                    id="tabs-text"
                    role="tablist"
                >
                    <li class="nav-item mr-sm-3 mr-md-0">
                    <a
                        class="nav-link mb-sm-3 mb-md-0 active"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#profile"
                        role="tab"
                        aria-controls="tabs-text-1"
                        aria-selected="true"
                        >Profile</a
                    >
                    </li>
                    <li class="nav-item mr-sm-3 mr-md-0">
                    <a
                        class="nav-link mb-sm-3 mb-md-0"
                        id="jobs-tab"
                        data-toggle="tab"
                        href="#jobs"
                        role="tab"
                        aria-controls="tabs-text-2"
                        aria-selected="false"
                        >Job Posting</a
                    >
                    </li>
                </ul>
                </div>
                <div class="col-12 mt-5">
                <div class="p-0">
                    <div class="tab-content">
                    <div
                        class="tab-pane fade active show"
                        id="profile"
                        role="tabpanel"
                        aria-labelledby="tabs-text-1-tab"
                    >
                    <form action="#">
                        <div class="row">
                            <div class="col col-12 col-md-6">
                                <h1 class="h2">Basic Information</h1>
                                <div class="card" style="width: 100%; height: 100%;">
                                    <div class="card-body">
                                        
                                            <div class="form-group mb-3">
                                                <label for="companyName">Company Name</label>
                                                <input type="text" class="form-control" id="companyName" value="John Doe" name="companyName">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="location">Location</label>
                                                <input type="text" class="form-control" id="location" value="" name="location">
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-md-6">
                                <h1 class="h2">About You</h1>
                                <div class="card" style="width: 100%; height: 100%;">
                                    <div class="card-body" style="height: 100%;">
                                        <div class="form-group">
                                            <label for="yourBio">Your Bio</label>
                                            <textarea class="form-control" id="yourBio" name="bio" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 text-center">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="jobs"
                        role="tabpanel"
                        aria-labelledby="tabs-text-2-tab"
                    >
                        <div class="row">
                            <div class="col col-12 col-md-6">
                                <h1>Job Postings</h1>
                            </div>
                            <div class="col col-12 col-md-6 text-right">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#modal-jobPosting">Add New Posting</button>
                            </div>
                            <div class="col col-12 mt-5">
                                <h2>Posted</h2>
                            </div>
                            <div class="col col-12">
                                <!-- Card 5-->
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                                <div class="row">
                                                    <div class="col col-6 text-center">
                                                        <a style="color: #2D4CC8; cursor: pointer;" onclick="jobEdit('XYZ event name')">Edit</a>
                                                    </div>
                                                    <div class="col col-6 text-center">
                                                        <a href="#"style="color: #FA5252;">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col col-12">
                                <h2>Past Postings</h2>
                            </div>
                            <div class="col col-12">
                                <!-- Card 5-->
                                <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body" style="position: relative;">
                                                <img src="" alt="profile-image" class="img-card-bottom">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                                <a href="#" class="stretched-link" style="color: #2D4CC8;">Rate</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                                <!-- Card 5-->
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body" style="position: relative;">
                                                <img src="" alt="profile-image" class="img-card-bottom">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                                <a href="#" class="stretched-link" style="color: #2D4CC8;">Rate</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                                <!-- Card 5-->
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body" style="position: relative;">
                                                <img src="" alt="profile-image" class="img-card-bottom">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                                <a href="#" class="stretched-link" style="color: #2D4CC8;">Rate</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div id="modal-edit-jobposting"></div>
    <div class="modal fade" id="modal-jobPosting" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="#" class="mt-4">
                        <div class="modal-header">
                            <h2 class="h6 modal-title mb-0">Job Posting</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12">
                                            <!--Form-->
                                            <div class="form-group mb-3">
                                                <label for="add-event-name">Event Name</label>
                                                <input type="text" class="form-control" id="add-event-name" name="event-name">
                                            </div>
                                            <!--End of form-->
                                            <!--Form-->
                                            <div class="form-group mb-3">
                                                <label for="add-location">Location</label>
                                                <input type="text" class="form-control" id="add-location" name="location">
                                            </div>
                                            <!--End of form-->
                                            <!-- Form -->
                                            <div class="form-group">
                                                <label class="my-1 mr-2" for="add-NoOfPeople">No of people</label>
                                                <select class="custom-select my-1 mr-sm-2" id="add-NoOfPeople" name="NoOfPeople">
                                                    <option selected value="1">Solo</option>
                                                    <option value="2">Duo</option>
                                                    <option value="3">Band</option>
                                                </select>
                                            </div>
                                            <!-- End of Form -->
                                            <!-- Form -->
                                            <div class="form-group">
                                                <label class="my-1 mr-2" for="add-TypeOfMusic">Type of music</label>
                                                <select class="custom-select my-1 mr-sm-2" id="add-TypeOfMusic" name="TypeOfMusic">
                                                    <option selected value="1">Rock</option>
                                                    <option value="2">Vocal</option>
                                                    <option value="3">Country music</option>
                                                    <option value="4">Hip Hop</option>
                                                    <option value="5">Electronic Dance Music(EDM)</option>
                                                    <option value="6">Pop Music</option>
                                                    <option value="7">Heavy Metal</option>
                                                    <option value="8">Instrumental(only instruments)</option>
                                                    <option value="9">Dance</option>
                                                </select>
                                            </div>
                                            <!--End of Form-->
                                            <!--Form-->
                                            <div class="form-group mb-3">
                                                <label for="add-timing">Timing</label>
                                                <input type="text" class="form-control" id="add-timing" name="timing">
                                            </div>
                                            <!--End of form-->                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                            <button type="button" class="btn btn-primary text-danger ml-auto" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
    
    <!-- Core -->
<script src="../static/vendor/jquery/dist/jquery.min.js"></script>
<script src="../static/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../static/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="../static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="../static/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="../static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="../static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="../static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Neumorphism JS -->
<script src="../static/assets/js/neumorphism.js"></script>
    <script defer>
        // Just a exmple u should create job Postings array using a for loop on server side
        let totalJobs = 1;
        let jobExample = {
            id: 1,
            name: "XYZ event Name",
            Timing : "15:00 - 13:00 IST",
            Location : "California America",
            NoOfPeople : 1,
            Instrument : 8
        }
        let jobPostings = [];
        jobPostings.push(jobExample);
        console.log(jobPostings);

        function jobEdit(name){
            let jobClicked = jobPostings.find((job) => job.name.toUpperCase() === name.toUpperCase());
            console.log(jobClicked);
            let modalBody = `
            <div class="modal fade" id="modal-${jobClicked.id}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="#" class="mt-4">
                        <div class="modal-header">
                            <h2 class="h6 modal-title mb-0" id="modal-title-default">Edit Job Posting</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12">
                                            <!--Form-->
                                            <div class="form-group mb-3">
                                                <label for="event-name">Event Name</label>
                                                <input type="text" class="form-control" id="event-name" name="event-name" value="${name}">
                                            </div>
                                            <!--End of form-->
                                            <!--Form-->
                                            <div class="form-group mb-3">
                                                <label for="location">Location</label>
                                                <input type="text" class="form-control" id="location" name="location" value="${jobClicked.Location}">
                                            </div>
                                            <!--End of form-->
                                            <!-- Form -->
                                            <div class="form-group">
                                                <label class="my-1 mr-2" for="NoOfPeople">No of people</label>
                                                <select class="custom-select my-1 mr-sm-2" id="NoOfPeople" name="NoOfPeople">
                                                    <option selected value="1">Solo</option>
                                                    <option value="2">Duo</option>
                                                    <option value="3">Band</option>
                                                </select>
                                            </div>
                                            <!-- End of Form -->
                                            <!-- Form -->
                                            <div class="form-group">
                                                <label class="my-1 mr-2" for="TypeOfMusic">Type of music</label>
                                                <select class="custom-select my-1 mr-sm-2" id="TypeOfMusic" name="TypeOfMusic">
                                                    <option selected value="1">Rock</option>
                                                    <option value="2">Vocal</option>
                                                    <option value="3">Country music</option>
                                                    <option value="4">Hip Hop</option>
                                                    <option value="5">Electronic Dance Music(EDM)</option>
                                                    <option value="6">Pop Music</option>
                                                    <option value="7">Heavy Metal</option>
                                                    <option value="8">Instrumental(only instruments)</option>
                                                    <option value="9">Dance</option>
                                                </select>
                                            </div>
                                            <!--End of Form-->
                                            <!--Form-->
                                            <div class="form-group mb-3">
                                                <label for="timing">Timing</label>
                                                <input type="text" class="form-control" id="timing" name="timing" value="${jobClicked.Timing}">
                                            </div>
                                            <!--End of form-->                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                            <button type="button" class="btn btn-primary text-danger ml-auto" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>`;
            let modalJobPosting = $('#modal-edit-jobposting');
            modalJobPosting.empty();
            modalJobPosting.append(modalBody);
            let modalId = `#modal-${jobClicked.id}`;
            console.log(modalId);
            $(modalId).modal();
        }
    </script>
</body>
</html>