{% extends "layout.html" %}
{% block content %}
    <main>
      <!-- Hero -->
      <div class="section section-header pb-7">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <h1 class="display-2 mb-4">We _______</h1>
              <p class="lead mb-5">
                “We are passionate about music and want to help musicians get their dream gigs easily. “
              </p>
              <a class="btn btn-primary" href="#aboutCompany"
                ><span class="far fa-lightbulb mr-2"></span>Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Section -->
      <section class="section section-lg pt-0" id="aboutCompany">
        <div class="container">
          <div class="row justify-content-center mb-5 mb-lg-6">
            <div class="col-12 text-center">
              <h2 class="h1 px-lg-5">About Us</h2>
            </div>
          </div>
          <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-xl-6 mb-5">
              <img src="/assets/img/illustrations/Orchestra-bro.svg" alt="Company" class="img-fluid">
              <div class="image-attribute-wrapper">
                <a href="https://stories.freepik.com/people" class="image-attribute">Illustration by Freepik Stories</a>
              </div>
            </div>
            <div class="col-md-6 col-xl-5 text-center text-md-left">
              <h2 class="h1 mb-4">What We Do</h2>
              <p class="lead">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum blanditiis libero illo officiis facere porro quod obcaecati harum, maiores, tenetur nihil laborum quas reiciendis. Cupiditate, qui. Nemo odit fuga iure.
              </p>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ea architecto magnam rem eaq.
              </p>
              <a href="#" class="btn btn-primary">Search jobs/musicians</a>
            </div>
          </div>
        </div>
      </section>
      <!--End of Section-->
      <!--Start of section-->
      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-xl-5 text-center text-md-left">
              <h2 class="h1 mb-4">Our Mission</h2>
              <p class="lead">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad assumenda, dolorum beatae itaque sequi similique mollitia a! Necessitatibus vel asperiores animi perspiciatis, debitis inventore quibusdam voluptate veritatis cupiditate nostrum quam?
              </p>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat commodi reiciendis non deserunt! Rem sunt rerum itaque officia suscipit enim ipsa tenetur, inventore odit beatae totam saepe! Nam, dolorum dolor.              </p>
              <a href="#" class="btn btn-primary">Search jobs/musicians</a>
            </div>
            <div class="col-md-6 col-xl-6 mb-5">
              <img src="/assets/img/illustrations/Playing Music-bro.svg" alt="Business Plan" class="img-fluid">
              <div class="image-attribute-wrapper">
                <a href="https://stories.freepik.com/business" class="image-attribute">Illustration by Freepik Stories</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End of section -->
      <!-- Section -->
      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <h2 class="h1">Our Team</h2>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <!-- Profile Card -->
              <div
                class="card bg-primary shadow-soft border-light text-center py-4 mb-5"
              >
                <div
                  class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto"
                >
                  <img
                    src="#"
                    class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                    alt="member 1"
                  />
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Member 1</h3>
                  <span class="h6 font-weight-normal text-gray mb-3"
                    >FOUNDER</span
                  >
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="facebook social link"
                        class="icon icon-xs icon-facebook mr-3"
                      >
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="twitter social link"
                        class="icon icon-xs icon-twitter mr-3"
                      >
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="linkedin social link"
                        class="icon icon-xs icon-linkedin mr-3"
                      >
                        <span class="fab fa-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End of Profile Card -->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <!-- Profile Card -->
              <div
                class="card bg-primary shadow-soft border-light text-center py-4 mb-5"
              >
                <div
                  class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto"
                >
                  <img
                    src="#"
                    class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                    alt="member 2"
                  />
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Memeber 2</h3>
                  <span class="h6 font-weight-normal text-gray mb-3"
                    >Founder</span
                  >
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="facebook social link"
                        class="icon icon-xs icon-facebook mr-3"
                      >
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="twitter social link"
                        class="icon icon-xs icon-twitter mr-3"
                      >
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="linkedin social link"
                        class="icon icon-xs icon-linkedin mr-3"
                      >
                        <span class="fab fa-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End of Profile Card -->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <!-- Profile Card -->
              <div
                class="card bg-primary shadow-soft border-light text-center py-4 mb-5"
              >
                <div
                  class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto"
                >
                  <img
                    src="#"
                    class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                    alt="member 3"
                  />
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Mmber 3</h3>
                  <span class="h6 font-weight-normal text-gray mb-3"
                    >Founder</span
                  >
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="facebook social link"
                        class="icon icon-xs icon-facebook mr-3"
                      >
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="twitter social link"
                        class="icon icon-xs icon-twitter mr-3"
                      >
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="linkedin social link"
                        class="icon icon-xs icon-linkedin mr-3"
                      >
                        <span class="fab fa-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End of Profile Card -->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <!-- Profile Card -->
              <div
                class="card bg-primary shadow-soft border-light text-center py-4 mb-5"
              >
                <div
                  class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto"
                >
                  <img
                    src="#"
                    class="card-img-top shadow-soft p-2 border border-light rounded-circle"
                    alt="Christopher avatar"
                  />
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Member 4</h3>
                  <span class="h6 font-weight-normal text-gray mb-3"
                    >founder</span
                  >
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="facebook social link"
                        class="icon icon-xs icon-facebook mr-3"
                      >
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="twitter social link"
                        class="icon icon-xs icon-twitter mr-3"
                      >
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="linkedin social link"
                        class="icon icon-xs icon-linkedin mr-3"
                      >
                        <span class="fab fa-linkedin"></span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        aria-label="github social link"
                        class="icon icon-xs icon-github mr-3"
                      >
                        <span class="fab fa-github"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End of Profile Card -->
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock content %}

    

