{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <div class="row">
            <div class="col col-12">
                <div class="nav-wrapper position-relative mb-4">
                <ul
                    class="nav nav-pills nav-fill flex-column flex-sm-row"
                    id="tabs-text"
                    role="tablist"
                >
                    <li class="nav-item mr-sm-3 mr-md-0">
                    <a
                        class="nav-link mb-sm-3 mb-md-0 active"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#profile"
                        role="tab"
                        aria-controls="tabs-text-1"
                        aria-selected="true"
                        >Profile</a
                    >
                    </li>
                    <li class="nav-item mr-sm-3 mr-md-0">
                    <a
                        class="nav-link mb-sm-3 mb-md-0"
                        id="jobs-tab"
                        data-toggle="tab"
                        href="#jobs"
                        role="tab"
                        aria-controls="tabs-text-2"
                        aria-selected="false"
                        >Jobs</a
                    >
                    </li>
                </ul>
                </div>
                <div class="col-12 mt-5">
                <div class="p-0">
                    <div class="tab-content">
                    <div
                        class="tab-pane fade active show"
                        id="profile"
                        role="tabpanel"
                        aria-labelledby="tabs-text-1-tab"
                    >
                    <form action="#">
                        <div class="row">
                            <div class="col col-12 col-md-6">
                                <h1 class="h2">Basic Information</h1>
                                <div class="card" style="width: 100%; height: 100%;">
                                    <div class="card-body">
                                        
                                            <div class="form-group mb-3">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name" value="John Doe" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label class="my-1 mr-2" for="categoryOfTeam">Team</label>
                                                <select class="custom-select my-1 mr-sm-2" id="categoryOfTeam" name="categoryOfTeam">
                                                    <option value="1" selected>Solo</option>
                                                    <option value="2">Duo</option>
                                                    <option value="3">Band</option>
                                                </select>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="timeOfAvailability">Available at</label>
                                                <input type="text" class="form-control" id="timeOfAvailability" value="15:00 - 17:00" name="timeOfAvailability">
                                            </div>
                                            <div class="form-group">
                                                <label for="Instruments">Instruments Used</label>
                                                <select multiple class="custom-select" id="Instruments" name="instruments">
                                                <option>Rock</option>
                                                <option>Vocal</option>
                                                <option>Country music</option>
                                                <option>Hip Hop</option>
                                                <option>Electronic Dance Music(EDM)</option>
                                                <option>Pop Music</option>
                                                <option>Heavy Metal</option>
                                                <option>Instrumental(only instruments)</option>
                                                <option>Dance</option>
                                                </select>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-md-6">
                                <h1 class="h2">About You</h1>
                                <div class="card" style="width: 100%; height: 100%;">
                                    <div class="card-body" style="height: 100%;">
                                        <div class="form-group">
                                            <label for="yourBio">Your Bio</label>
                                            <textarea class="form-control" id="yourBio" name="bio" rows="15"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 text-center">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="jobs"
                        role="tabpanel"
                        aria-labelledby="tabs-text-2-tab"
                    >
                        <div class="row">
                            <div class="col col-12">
                                <h1>Jobs</h1>
                            </div>
                            <div class="col col-12 mt-5">
                                <h2>Accepted</h2>
                            </div>
                            <div class="col col-12">
                                <!-- Card 5-->
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col col-12">
                                <h2>Invites</h2>
                            </div>
                            <div class="col col-12">
                                <!-- Card 5-->
                                <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                                <div class="row">
                                                    <div class="col col-6 text-center">
                                                        <a href="#" style="color: #2D4CC8;">Apply</a>
                                                    </div>
                                                    <div class="col col-6 text-center">
                                                        <a href="#"style="color: #FA5252;">Reject</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <!--Card ENd-->
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col col-12">
                                <h2>Past Works</h2>
                            </div>
                            <div class="col col-12">
                                <!-- Card 5-->
                                <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                                <!-- Card 5-->
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                                <!-- Card 5-->
                                <div class="col-12 col-md-6 col-lg-4 mt-4">
                                    <div class="profile-card mb-5">
                                        <div class="card bg-primary shadow-soft border-light">
                                            <div class="card-body">
                                                <h3 class="h5 mb-2">XYZ event Name</h3>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Timing</strong> : 15:00 - 13:00 IST</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Location</strong> : California America</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>No of People</strong> : Solo</span><br>
                                                <span class="h6 font-weight-normal text-gray mb-3"><strong>Instrument</strong> : EDM</span><br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card ENd-->
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    
{% endblock content %}