<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
{% if title %}
        <title>GigFinder - {{ title }}</title>
    {% else %}
        <title>GigFinder</title>
    {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Neumorphism UI - Signup">
<meta name="author" content="_____ team">

<!-- Fontawesome -->
<!-- <script src="https://kit.fontawesome.com/b9fce72c7a.js" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<!-- Pixel CSS -->
<link type="text/css" href="../static/css/neumorphism.css" rel="stylesheet">
  </head>

  <body>
    <main>
      <!-- Section -->
      <section class="min-vh-100 d-flex bg-primary align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 justify-content-center">
              <div class="card bg-primary shadow-soft border-light p-4">
                <div class="card-header text-center pb-0">
                  <h2 class="mb-0 h5">Create Account</h2>
                </div>
                <div class="card-body">
                  <form method="POST" action="">
                    <!-- Form -->
                    <div class="form-group">
                      <label for="email">Your email</label>
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><span class="fas fa-envelope"></span
                          ></span>
                        </div>
                        {{ form.email(class="form-control form-control-lg") }}
                      </div>
                    </div>
                    <!-- End of Form -->
                    <div class="form-group">
                      <!-- Form -->
                      <div class="form-group">
                        <label for="exampleInputPassword7">Password</label>
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><span class="fas fa-unlock-alt"></span
                            ></span>
                          </div>
                           {{ form.password(class="form-control form-control-lg") }}
                        </div>
                      </div>
                      <!-- End of Form -->
                      <!-- Form -->
                      <div class="form-group">
                        <label for="confirmPassword"
                          >Confirm Password</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><span class="fas fa-unlock-alt"></span
                            ></span>
                          </div>
                          {{ form.confirm_password(class="form-control form-control-lg") }}
                        </div>
                      </div>
                      <label for="role"
                          >Role</label
                        >
                      <div class="form-group">
                        {{ form.role(class="form-control form-control-lg") }}
                    </div>
                      <!-- End of Form -->
                      <div class="form-check mb-4">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="defaultCheck6"
                        />
                        <label class="form-check-label" for="defaultCheck6">
                          I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form.submit(class="btn btn-block btn-primary") }}
                    </div>
                  </form>
                  <div
                    class="d-block d-sm-flex justify-content-center align-items-center mt-4"
                  >
                    <span class="font-weight-normal">
                      Already have an account?
                      <a href="{{url_for('login')}}" class="font-weight-bold">Login here</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Core -->
<script src="../static/vendor/jquery/dist/jquery.min.js"></script>
<script src="../static/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../static/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="../static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="../static/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="../static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="../static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="../static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Neumorphism JS -->
<script src="../static/assets/js/neumorphism.js"></script>
  </body>
</html>
